---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<div class="relative">
		<div class="absolute left-28 h-full flex items-center">
			<h1 class="text-white text-5xl font-bold">FINAL FANTASY XIV</h1>
		</div>

		<video
			class="Ambient video alt text"
			src="https://assets.xboxservices.com/assets/12/ff/12ff90f8-439f-42a6-892b-1bf80f02f027.mp4?n=FFXIV-Online_HP-Video_1920x720_04.mp4"
			poster="https://assets.xboxservices.com/assets/95/d8/95d85ef8-f63e-4543-87e8-eecd486657d2.jpg?n=896254_Page-Hero-0_767x1175_01.jpg"
			autoplay
			loop></video>
	</div>
</Layout>
